.editor-container {
    display: none;
    gap: 10px;
    justify-content: center;
    padding: 20px;
}

.canvas {
    border-radius: 20px;
}

.meme-editor {
    height: 450px;
    width: 450px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #383b42;
}

.meme-editor > * {
    text-align: center;
}

.meme-editor .txt-input {
    margin: 20px 35px;
    color: #3d3d3d;
    font-size: 1.555rem;
    font-family: poppins medium;
    border: none;
    border-radius: 20px;
    box-shadow: 3px 3px 0 #bac3d1;
    background-color: #ebeef3;
    outline: none;
}

.meme-editor .txt-input:focus {
    border: none;
}

.meme-editor .main-btns > * {
    background-color: transparent;
    border: none;
}

.main-btns .fas {
    font-size: 25px;
    padding: 10px 12px;
    border-radius: 10px;
    color: #ebeef3;
}

.main-btns .fas:active {
    transform: scale(0.9);
    transition: 0.1s;
}

.main-btns .fa-trash {
    background-color: #e43d36;
    box-shadow: 2px 2px 0 #b62f2a;
    /* box-shadow: 0 1px 6px #b62f2a, 0 1px 4px #b62f2a; */
}

.main-btns .fa-plus {
    background-color: #39be4e;
    box-shadow: 2px 2px 0 #2e9e3f;
}

.main-btns .fa-exchange-alt {
    transform: rotate(90deg);
    background-color: #48b5d1;
    box-shadow: 2px -2px 0 #328397;
    padding: 12px 10px;
}

.main-btns .fa-long-arrow-alt-up {
    width: 46px;
    background-color: pink;
    box-shadow: 2px 2px 0 #bd8c94;
}

.main-btns .fa-long-arrow-alt-down {
    width: 46px;
    background-color: plum;
    box-shadow: 2px 2px 0 #af7caf;
}

.txt-btns {
    margin: 20px 35px;
    border-radius: 10px;
    background-color: #19a59f;
}

.txt-btns > * {
    border: none;
    margin: 10px;
    background-color: white;
}
.txt-btns .increase,
.txt-btns .decrease,
.txt-btns .move-btn {
    font-size: 20px;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    box-shadow: 2px 2px 0 #dbdbdb;
}

.txt-btns .increase::after {
    content: '+';
}

.txt-btns .decrease::after {
    content: '-';
}
