.editor-container {
    display: none;
    gap: 10px;
    justify-content: center;
    padding: 20px;
}

.canvas {
    background-color: white;
}

.meme-editor {
    height: 450px;
    width: 450px;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
}

.meme-editor > * {
    text-align: center;
    padding: 10px;
}

.meme-editor .main-btns > * {
    margin: 10px;
}

.meme-editor .txt-btns > * {
    margin: 10px;
}
