.editor-container {
    display: none;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    padding: 20px;
}

.canvas {
    border-radius: 20px;
}

.meme-editor {
    height: 450px;
    width: 450px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #383b42;
}

.meme-editor > * {
    text-align: center;
}

.meme-editor .txt-input {
    margin: 20px 35px;
    color: #3d3d3d;
    font-size: 1.555rem;
    font-family: poppins medium;
    border: none;
    border-radius: 20px;
    box-shadow: 3px 3px 0 #bac3d1;
    background-color: #ebeef3;
    outline: none;
}

.meme-editor .txt-input:focus {
    border: none;
}

.meme-editor .main-btns > * {
    background-color: transparent;
    border: none;
}

.main-btns .fas {
    font-size: 25px;
    padding: 10px 12px;
    border-radius: 10px;
    color: #ebeef3;
}

.main-btns .fa-trash {
    box-shadow: 1px 5px 0 #902a25, inset 0 5px 0 #b03a36;
    background-image: linear-gradient(310deg, #d4615c 0%, #b0261f94 100%);
}

.main-btns .fa-plus {
    box-shadow: 1px 5px 0 #076a3d, inset 0 5px 0 #36b049;
    background-image: linear-gradient(260deg, #3b8c47 0%, #49ce5e 100%);
}

.main-btns .fa-exchange-alt {
    padding: 12px 10px;
    transform: rotate(90deg);
    box-shadow: 4px 0px 0 #348296, inset 0 5px 0 #4097ac;
    background-image: linear-gradient(260deg, #48b5d1 0%, #3a8192 100%);
}

.main-btns .fa-long-arrow-alt-up {
    width: 46px;
    box-shadow: 1px 5px 0 #b68b92, inset 0 5px 0 #f0bfc7;
    background-image: linear-gradient(285deg, #f0bfc7 0%, #c498a0 100%);
}

.main-btns .fa-long-arrow-alt-down {
    width: 46px;
    box-shadow: 1px 5px 0 #8d658d, inset 0 5px 0 plum;
    background-image: linear-gradient(134deg, #af7caf 0%, plum 100%);
}

.txt-btns {
    margin: 20px 35px;
    border-radius: 10px;
    background-color: #19a59f;
}

.txt-btns > * {
    border: none;
    margin: 10px;
}

.txt-btns .increase,
.txt-btns .decrease,
.txt-btns .move-btn {
    font-size: 20px;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    box-shadow: 2px 2px 0 #dbdbdb;
    background-color: white;
}

.txt-btns .increase::after {
    content: '+';
}

.txt-btns .decrease::after {
    content: '-';
}

.font-input {
    height: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 0 #dbdbdb;
}

.stroke-container,
.palette-container {
    position: relative;
    display: inline-flex;
    height: 45px;
    width: 45px;
}

.stroke {
    text-decoration: underline;
}

.stroke,
.palette {
    display: flex;
    background-color: #fff;
    align-items: center;
    font-size: 1.25rem;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 0 #dbdbdb;
    transition: 0.3s;
    justify-content: center;
    pointer-events: none;
    z-index: 1;
}

.stroke-picker,
.color-picker {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 50%;
}

.save-btn,
.share-btn,
.download-btn {
    margin: 5px;
    width: 200px;
    width: 30%;
    height: 40px;
    color: white;
    font-size: 14px;
    font-family: poppins medium;
    border: none;
    border-radius: 10px;
}

.save-btn {
    background-color: #ff8724;
    box-shadow: 2px 2px 0 #af5c18;
}

.share-btn {
    background-color: #1e7cd3;
    box-shadow: 2px 2px 0 #125492;
}

.share-btn::after {
    content: 'Share';
    padding-left: 10px;
}

.download-btn {
    background-color: #8f44bb;
    box-shadow: 2px 2px 0 #662e86;
}

.download-btn::after {
    content: 'Download';
    padding-left: 10px;
}

@media (max-width: 1050px) {
    .canvas-container {
        display: flex;
    }
    .editor-container {
        padding: unset;
        flex-direction: column;
    }
    .canvas {
        margin: auto;
    }
    .meme-editor {
        padding: 5px;
        margin: auto;
        height: auto;
    }
    .meme-editor .txt-input {
        margin: 10px 30px;
        font-size: 25px;
    }
    .main-btns .fas {
        font-size: 25px;
    }
    .txt-btns {
        padding: 5px;
        margin: 10px 10px;
    }
    .txt-btns > * {
        margin: 5px;
    }
    .txt-btns .increase,
    .txt-btns .decrease,
    .txt-btns .move-btn {
        font-size: 20px;
        height: 45px;
        width: 45px;
    }
    .save-btn,
    .share-btn,
    .download-btn {
        height: unset;
        font-size: 12px;
        width: 50%;
        padding: 10px 0;
    }
}

@media (max-width: 500px) {
    .canvas {
        height: 350px;
        width: 350px;
    }
    .meme-editor {
        height: auto;
        width: 350px;
    }
    .save-btn,
    .share-btn,
    .download-btn {
        width: 29%;
    }
    .main-btns .fa-long-arrow-alt-down,
    .main-btns .fa-long-arrow-alt-up {
        width: 49px;
    }
}

@media (max-width: 365px) {
    .canvas {
        height: 300px;
        width: 300px;
    }
    .meme-editor {
        width: 300px;
    }
    .meme-editor .txt-input {
        font-size: 16px;
    }
    .main-btns .fas {
        font-size: 16px;
    }
    .txt-btns .increase,
    .txt-btns .decrease,
    .txt-btns .move-btn {
        font-size: 16px;
        height: 37px;
        width: 37px;
        background-color: #fff;
    }
    .font-input {
        width: 35%;
    }
    .stroke-container,
    .palette-container {
        height: 37px;
        width: 37px;
    }
    .main-btns .fa-long-arrow-alt-down,
    .main-btns .fa-long-arrow-alt-up {
        width: 38px;
    }
    .save-btn,
    .share-btn,
    .download-btn {
        font-size: 11px;
        width: 28%;
    }
    .share-btn::after {
        padding-left: 5px;
    }
    .download-btn::after {
        padding-left: 5px;
    }
}
