.gallery-container {
    background-color: #383b42;
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
}

.search-input {
    width: 40%;
    color: #fefefe;
    background-color: #22252c;
    font-size: 1.312rem;
    font-family: poppins light;
    border: none;
    height: 56px;
    border-radius: 40px;
    padding-left: 5%;
    margin-left: 3%;
}

.filter-imgs {
    display: inline-block;
    margin-left: 1%;
    padding: 13px;
    text-align: center;
    width: 40%;
    border-radius: 40px;
    background-color: #87898d;
}

.filter-imgs > * {
    padding: 3px;
    font-size: 16px;
    color: #fefefe;
    font-family: poppins light;
}

.filter-imgs > *:nth-of-type(2) {
    font-size: 20px;
}

.filter-imgs > *:nth-of-type(3) {
    font-size: 12px;
}

.filter-imgs > *:nth-of-type(5) {
    font-size: 14px;
}

.gallery-container button {
    color: #fefefe;
    font-size: 1.125em;
    font-family: poppins light;
    background: linear-gradient(to right, #0f9bb2 0%, #30bb72 100%);
    border: none;
    border-radius: 20px;
    width: 10%;
    margin-left: 1%;
}

.imgs-container {
    text-align: center;
    padding-top: 20px;
}

.imgs-container img {
    height: 200px;
    padding: 10px;
    border-radius: 20px;
}

.gallery-container img:hover {
    cursor: pointer;
}

@media (max-width: 1050px) {
    .search-input {
        display: block;
        width: 90%;
    }
    .filter-imgs {
        width: 75%;
        margin-left: 3%;
        margin-top: 2%;
    }
    .gallery-container button {
        width: 13%;
    }
}

@media (max-width: 600px) {
    .imgs-container {
        padding-top: 10px;
    }
    .imgs-container img {
        height: 150px;
    }
    .filter-imgs {
        height: unset;
        margin-top: 5%;
    }
    .filter-imgs > * {
        font-size: 9px;
        padding: unset;
    }
    .filter-imgs > *:nth-of-type(2),
    .filter-imgs > *:nth-of-type(3),
    .filter-imgs > *:nth-of-type(5) {
        font-size: 9px;
    }
    .gallery-container {
        margin: 10px;
    }
    .gallery-container button {
        font-size: 11px;
        height: 30px;
        width: 45px;
    }
}
