* {
    box-sizing: border-box;
}

/* TYPOGRAPHY */

@font-face {
    font-family: poppins medium;
    src: url(../font/poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppins light;
    src: url(../font/poppins/Poppins-Light.ttf);
}

/* BASIC */

body {
    background-color: #22252c;
    font-family: poppins medium;
}

button {
    cursor: pointer;
}

.header-conatiner {
    padding-right: 200px;
    padding-left: 80px;
    border-radius: 50px;
    background: linear-gradient(to right, #0f9bb2 0%, #30bb72 100%);
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    color: white;
}

.main-header .logo img {
    height: 40px;
    margin-top: 13px;
}

.main-header .main-nav {
    list-style: none;
    display: flex;
}

.main-header .main-nav li {
    line-height: 35px;
    font-size: 1.312rem;
    padding: 0 10px;
    border-radius: 30px;
}

.main-header .main-nav li:first-of-type {
    margin-right: 50px;
}

.main-header .main-nav li:hover {
    cursor: pointer;
    background-color: white;
    color: #21ac91;
    transition: all 0.5s;
}

/* HELPERS */

.flex {
    display: flex;
}
